{% extends "inc/base.html" %}

{% load static %}

<!--

    <h3 class="mb-5">Profile</h3>
    <div class="card p-5">
        <form class="form">
            <div class="col-md-3 mb-3 justify-content-center align-items-center">
                <img style="height: 50%; width: 50%; object-fit: cover" class="img-thumbnail" src="static/img/no_avatar.png">
            </div>
            <div class="mb-3">
                <label>Login</label>
                <input type="text" class="form-control" id="login" value="Akim">
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control" id="email" value="egorov.akim@mail.ru">
            </div>
            <div class="mb-3">
                <label>NickName</label>
                <input type="text" class="form-control" id="nickname" value="Akim">
            </div>
            <div class="mb-3">
                <label>Avatar</label>
                <input class="form-control" type="file" id="avatar">
              </div>
            <input type="submit" class="btn" value="Save"></input>
            <a style="font-size: 12px; color:#575656; text-decoration: none; margin-left: 16px" href="{% url "index" %}">Return to questions</a>
        </form>
    </div>

-->

<div>
    {% block content %}
        <h6>INFO</h6>
        <h1 class="my-4">{{ user.first_name }} {{ user.last_name }}</h1>
        <h6>Bio:</h6>
        <p>{{ user.profile.bio }}</p>
        <a class="btn my-4" href="{% url "profile_edit" %}">Edit Profile</a>
    {% endblock %}
</div>